/* Color Theme Swatches in Hex */
.LOFT-REDUX-LMC-1-hex {
  color: #353d40;
}
.LOFT-REDUX-LMC-2-hex {
  color: #d9d9d9;
}
.LOFT-REDUX-LMC-3-hex {
  color: #a1a5a6;
}
.LOFT-REDUX-LMC-4-hex {
  color: #f2b138;
}
.LOFT-REDUX-LMC-5-hex {
  color: #003f63;
}

/* Color Theme Swatches in RGBA */
.LOFT-REDUX-LMC-1-rgba {
  color: rgba(52, 61, 63, 1);
}
.LOFT-REDUX-LMC-2-rgba {
  color: rgba(216, 216, 216, 1);
}
.LOFT-REDUX-LMC-3-rgba {
  color: rgba(161, 165, 165, 1);
}
.LOFT-REDUX-LMC-4-rgba {
  color: rgba(242, 177, 56, 1);
}
.LOFT-REDUX-LMC-5-rgba {
  color: rgba(0, 63, 99, 1);
}

/* Color Theme Swatches in HSLA */
.LOFT-REDUX-LMC-1-hsla {
  color: hsla(196, 9, 22, 1);
}
.LOFT-REDUX-LMC-2-hsla {
  color: hsla(0, 0, 85, 1);
}
.LOFT-REDUX-LMC-3-hsla {
  color: hsla(191, 2, 64, 1);
}
.LOFT-REDUX-LMC-4-hsla {
  color: hsla(39, 87, 58, 1);
}
.LOFT-REDUX-LMC-5-hsla {
  color: hsla(201, 100, 19, 1);
}
